/*PARAMETRES*/
:root{
    --color1: #FFFFFF;
    --color2: #f4f4f4;
    --color3: #0089C8;
    --color4: #CDCC25;
	--color5: rgba(86, 86, 86, .4);
	--colorSmall: rgba(95, 111, 255, 0.5);
	--colorSmallDiv: #506aff;
	--colorSmallEspagne: rgb(200 120 0 / 0.5);
	--colorSmallDivEspagne: #C87800;
}
.marker-cluster-small{
	background-color: var(--colorSmall);
}
.marker-cluster-small div{
	background-color: var(--colorSmallDiv);
}
/* IE 6-8 fallback colors */
.leaflet-oldie .marker-cluster-small{
	background-color: var(--colorSmall);
}
.leaflet-oldie .marker-cluster-small div{
	background-color: var(--colorSmallDiv);
}
.marker-cluster{
	background-clip: padding-box;
	border-radius: 20px;
}
.marker-cluster div{
	width: 30px;
	height: 30px;
	margin-left: 5px;
	margin-top: 5px;
	text-align: center;
	border-radius: 15px;
	font: 12px "Helvetica Neue", Arial, Helvetica, sans-serif;
}
.marker-cluster span{
	line-height: 30px;
	color: var(--color1);
}
.leaflet-cluster-anim .leaflet-marker-icon, .leaflet-cluster-anim .leaflet-marker-shadow{
	-webkit-transition: -webkit-transform 0.3s ease-out, opacity 0.3s ease-in;
	-moz-transition: -moz-transform 0.3s ease-out, opacity 0.3s ease-in;
	-o-transition: -o-transform 0.3s ease-out, opacity 0.3s ease-in;
	transition: transform 0.3s ease-out, opacity 0.3s ease-in;
}
.leaflet-cluster-spider-leg{
	/* stroke-dashoffset (duration and function) should match with leaflet-marker-icon transform in order to track it exactly */
	-webkit-transition: -webkit-stroke-dashoffset 0.3s ease-out, -webkit-stroke-opacity 0.3s ease-in;
	-moz-transition: -moz-stroke-dashoffset 0.3s ease-out, -moz-stroke-opacity 0.3s ease-in;
	-o-transition: -o-stroke-dashoffset 0.3s ease-out, -o-stroke-opacity 0.3s ease-in;
	transition: stroke-dashoffset 0.3s ease-out, stroke-opacity 0.3s ease-in;
}
